.wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
    margin: 10px;
    height: 100%;
    min-height: 200px;
    max-width: 600px;
    background: #8a8a8a;
    border-radius: 6px;
    border: 1px solid #727272;
    box-shadow: 3px 3px 15px#444444;
    color: white;
    .title {
        font-size: 25px;
        padding-bottom: 10px;
    }
    .service {
        height: 35px;
        padding: 2px 5px;
        width: 100%;
        font-size: 20px;
        text-decoration: none;
        color: white;
        &:hover {
            background-color: #727272;
        }
    }
    .text {
        font-size: 20px;
        padding: 2px 5px;
    }
}